@font-face {
  font-family: 'Futura';
  src: url(./assets/fonts/Futura/Futura.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMdBT';
  src: url(./assets/fonts/Futura/FuturaMdBT.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBkBT';
  src: url(./assets/fonts/Futura/FuturaBkBT.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaHvBT';
  src: url(./assets/fonts/Futura/FuturaHvBT.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables for css styling */
  --primary-medium: #004d6e;
  --primary-soft: #06719f;
  --primary-ultrasoft: #0387c0;
  --secondary-medium: #99cc00;
  --secondary-soft: #f3ffcf;
  --gray-medium: #b0bfd3;
  --gray-soft: #e5edf8;
  --gray-ultrasoft: #f7faff;
  --dark: #364449;
  --white: #ffffff;
  --blue-medium: #7abfff;
  --blue-soft: #e9f4ff;
  --blue-hard: #137ee1;
  --red-medium: #ff8970;
  --red-soft: #ffccc1;
  --red-hard: #cd3311;
  --yellow-medium: #ffd15c;
  --yellow-soft: #ffefc7;
  --yellow-hard: #ed9c00;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'FuturaBkBT';
  color: #374062;
  font-size: 13px;
  --antd-wave-shadow-color: #1890ff;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #374062;
  margin: 0;
}

::selection {
  background-color: #0061A7;
}